Minecraft-Overviewer/
banned-ips.txt
banned-players.txt
crash-reports/
debug/
eula.txt
logs/
minecraft_server*.jar
ops.txt
server.log*
server.properties
tztk/motd
tztk/players.txt
tztk/snapshots
white-list.*
world*/
*.json
whitelist-notes.txt
